.logo {
  max-width: 370px !important;
  min-width: 100px !important;
  max-height: 130px;
  margin: 20px 20px 20px 0;
  
}
.logocol {
  max-width: 370px !important;
  min-width: 100px !important;
}
.wel h1 {
  /* font-family: Montserrat; */
  font-size: 40px;
  font-weight: 700;
  /* line-height: 73.14px; */
  letter-spacing: 0.015em;
  text-align: center;
  color: #a92427;
  margin-bottom: 30px;
}
.cont {
  height: 100vh !important;
}

.login {
  width: 300px !important;
}

.inputContainer {
  width: 400px !important;
}
.p {
  /* font-family: Montserrat; */
  font-size: 23px;
  font-weight: 500;
  line-height: 34.13px;
  text-align: center;
}
.error {
  /* font-family: Montserrat; */
  font-size: 18px;
  font-weight: 500;
  line-height: 34.13px;
  text-align: center;
  color: #a92427;
}

.label {
  /* font-family: Montserrat; */
  font-size: 18px;
  font-weight: 400;
  line-height: 26.82px;
  text-align: left;
  display: block;
}
.input {
  display: block;
  border: none;
  border-bottom: 1px solid #292929;
  width: 350px;
  height: 35px;
  font-size: 18px;
  margin-left: 10px;
  margin-bottom: 20px;
  /* background: #faecec; */
  background-color: transparent;
}
.input:focus,
.otps input:focus {
  border: none;
  outline: none;
  border-bottom: 2px solid #292929;
}
.button {
  margin: 10px 30px 30px 30px;
  width: 300px;
  height: 40px;
  border-radius: 7px;
  border: none;
  color: white;
  background-color: #a92427;
}
.button:active {
  background-color: #801b1d;
}
.button:hover {
  background-color: #9f1f21;
}

.otps input {
  border: none;
  width: 40px !important;
  height: auto;
  margin: 0 10px;
  border-bottom: 1px solid #292929;
  text-align: center;
  font-size: 20px;
  /* background: #faecec; */
  background-color: transparent;
}

.otplabel {
  /* font-family: Montserrat; */
  font-size: 18px;
  font-weight: 400;
  line-height: 26.82px;
  text-align: left;
  margin: 10px 0px;
}

.resend {
  margin: 20px;
  text-align: right;
  color: #a92427;
  font-size: 15px;
  font-weight: 500;
  line-height: 22.5px;
  letter-spacing: 0.015em;
}

.inputbox{
  width: 400px;
  min-height: 400px;
}
.logincontainer{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  
}