.longformmdl {
  max-width: 340px !important;
  min-width: 310px !important;
  margin-bottom: 15px;
}
.longformmdl label {
  width: 145px;
  font-weight: 600;
  font-size: 13px;
  line-height: 14.82px;
  letter-spacing: 0%;
  text-align: right;
  padding-right: 15px;
  color: var(--primary-color);
}
.longformmdl input,
.longformmdl select {
  width: 130px;
  height: 25px;
  padding-left: 4px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 13px;
  /* background-color: #d9d9d9; */
  border: 1px solid #d9d9d9;
  box-shadow: 1px 1px 3px #333;
}
.longformmdl span {
  font-weight: 600;
  font-size: 12px;
  line-height: 14.26px;
  letter-spacing: 1.5%;
}
.headmdl {
  font-weight: 600;
  font-size: 16px;
  line-height: 29.26px;
  letter-spacing: 1.5%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: Auto;
  color: #555;
}
.mdltable thead th {
  font-size: 12px !important;
  padding: 3px;
}
.mdltable tbody td {
  font-size: 12px !important;
  padding: 3px;
}

.search {
  position: relative;
  display: inline-block;
}
.search input {
  width: 240px;
  height: 35px;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  padding-left: 4px;
  font-size: 15px;
  padding-right: 32px; /* Leave space for the icon */
  box-shadow: 1px 1px 4px gray;
}

.search input:focus {
  border: 1px solid var(--primary-color);
  outline: none;
}
.searchicon {
  position: absolute;
  left: 225px;
  top: 18px;
  transform: translateY(-50%);
  font-size: 18px;
  color: #555;
  pointer-events: none; /* Makes the icon unclickable */
}

.xls {
  width: 150px;
  height: 40px;
  padding-left: 30px;
  border-radius: 6px;
  margin-right: 15px;
  margin-bottom: 20px;
  /* box-shadow: 1px 1px 3px black; */
  color: #555;
}
.xls:hover {
  outline: 1px solid #555;
}
.xls p {
  float: left;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 500;
  padding-top: 6px;
}
.xls img {
  width: 35px;
  height: 35px;
}
.images {
  width: 200px;
}

/*  */
.buttonbox {
  width: 80px;
  height: auto;
}
.buttonbox button {
  width: 100%;
  display: flex;
  gap: 10px;
  color: #333;
  font-size: 14px;
  font-weight: 600px;
  transition: 0.2s ease;
}

.buttonbox button span {
  padding-top: 3px;
}
.buttonbox button:hover {
  color: #555;
  transform: scale(1.05);
}

.entity {
  /* width: 200px !important; */
  height: 40px;
  position: relative;
  /* top: 20px; */
}
.entity label {
  color: black;
  font-size: 15px;
  font-weight: 600;
}
.entity select {
  width: 60px;
  height: 25px;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid gray;
  border-radius: 6px;
  margin-left: 10px;
}

.custDetails {
  margin-bottom: 10px;
}
.custDetails h5 {
  margin-bottom: 3px;
  font-size: 16px;
  font-weight: 600;
}
.custDetails p {
  margin-bottom: 3px;
  font-size: 14px;
  font-weight: 500;
}

/* xl modal */

.longformmdl {
  max-width: 300px !important;
  min-width: 280px !important;
  margin-bottom: 8px;
}
.longformmdl label,
.textform label {
  width: 140px;
  font-weight: 600;
  font-size: 12px;
  line-height: 14.82px;
  letter-spacing: 0%;
  text-align: right;
  padding-right: 15px;
  color: var(--primary-color);
}
.longformmdl input,
.longformmdl select {
  width: 120px;
  height: 25px;
  padding-left: 2px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 12px;
  /* background-color: #d9d9d9; */
  border: 1px solid #d9d9d9;
  box-shadow: 1px 1px 3px #333;
}
.longformmdl span {
  font-weight: 600;
  font-size: 12px;
  line-height: 14.26px;
  letter-spacing: 1.5%;
}

.textform textarea {
  width: 350px;
  height: 80px;
  padding-left: 4px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 12px;
  /* background-color: #d9d9d9; */
  border: 1px solid #d9d9d9;
  box-shadow: 1px 1px 3px #333;
}

.headmdl {
  font-weight: 600;
  font-size: 16px;
  line-height: 29.26px;
  letter-spacing: 1.5%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: Auto;
  color: #555;
}
.mdltable thead th {
  font-size: 12px !important;
  padding: 3px;
  letter-spacing: 1.5%;
  color: white;
  background-color: var(--primary-color);
  text-align: center;
}
.mdltable tbody td {
  font-size: 12px !important;
  padding: 3px;
}
.mdltable button {
  width: fit-content;
  height: 20px;
  font-size: 11px;
  padding: 0px 10px;
  border: none;
  color: white;
  margin: 0;
  border-radius: 3px;
  background-color: #fd3b3b;
}

/* credit note details */
.creditDetails{
  margin: 20px;
}
.creditDetails p {
  font-size: 14px;
  font-weight: 500;
  color: var(--primary-color);
  padding-left: 40px;
  margin: 3px;
}
.creditDetails p span{
  color: #333;
  font-weight: 600;
  font-size: 15px;
  padding-right: 20px;
}

