.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  /* background: url("https://s3-alpha-sig.figma.com/img/53b3/27c4/762dfb31d7775832ebdd1dc6e1cd6cd1?Expires=1731283200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=LJYdlLTXb0TOkCCgag8TODchiVSQEy0~njrZr6jybJsX-rVdIVMVsdPxpEjVVM6Qf5AdJHEGyysfqUf~yLL4YWcev1r8QVu4XWcolmlLLYxHCc~uDh5BIoAOLLDuCrlIsowhtz7Zg9zJMy3EIV7MftyX~YbUfgSkRI4Y7BlALttDdyrRcJYXEzqGb01hmw8Xvo-2kI2x3q-CsT82PghsRT8bRXqNRqGADVvXVx1X50KSte8GUbyT4-42RGOs-ejgPT9mwu280cQBPnTEJ-WX6AEruiI-MIRHV23~BZYYmDuqhiWmMZf4X4sy5DxaBoVsGuBtcmX12SCIHzdHvzlPJg__") */
  /* no-repeat center center/cover; */
  margin: 5px 5px 20px 5px;
  /* padding: 5px; */
}

.logo img {
  /* width: 70px;
  height: auto; */
  width: 100%;
  height: 100%;
}

.navicons {
  background-color: #d9d9d9;
  margin-top: 10px;
}

.navicons > div a {
  display: flex;
  padding: 0 0 0 8px;
  gap: 20px;
  margin: 15px 4px;
  
  color: #2c2c2c;
}
.navicons svg {
  width: 20px;
}
.navicons p {
  padding-top: 8px;
  margin-bottom: 6px;
  /* font-family: Montserrat; */
  font-size: 15px;
  font-weight: 500;
  
}

.navicons > div:hover {
  background-color: #a92427;
  border-radius: 5px;
  color: white;
  /* transition: 0.1s ease; */
}

.navicons > div:hover p,
.navicons > div:hover svg path,
.active:hover svg,
.active:hover svg path {
  color: white;
  stroke: white;
  
}

.active svg path,
.active p,
.active svg {
  color: #a92427;
  stroke: #a92427;
  
}
.active:hover svg g path, .navicons > div:hover svg g path{
  fill: white;
}
.active svg g path{
  fill: #a92427;
}